<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layouts/head') %>
</head>
<body>
  <%- include('layouts/nav') %>
  <div id="container" class="my-5">
    <div class="jumbotron p-4">
      <h3>Webboard</h3>
      <p>A webboard for web development discussions.</p>
      <a href="/webboard/new-question"
        class="btn btn-primary btn-sm mr-4">New question</a>
      <a href="/webboard/show-all-question"
        class="btn btn-primary btn-sm mr-4">View all question</a>
    </div>
  </div>
  <%- include('layouts/footer') %>
</body>
</html>